body { 
    background-size: 50vw 50vh
    
    
    }

    
 form {
    width: 680px;
    margin: auto;
    background: rgba(0,0,0,8);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;

   
    }


    
h1 {
    text-align: center;
    margin: 0%;
    font-size: 50px;
    margin-bottom: 20px;
    }
img {
    
        
    width: 200px;
    height: 200px;
    background: #3498DB;
    margin: 2%;
    
        
        }
p {
    text-align: center;
    
    }    
    
input , textarea {
    
     width: 100%;
    margin-bottom: 20px;
    padding: 7px;
     box-sizing: border-box;
    font-size: 17px;
    
    }
     
textarea {

    
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    }
#Boton {
    
    background: #CB4335;
    color: azure;
    padding: 20px;
    
    }
     
#Boton:hover {

    cursor: pointer;
    
    }
@media (max-width:480px)
 {

    formı 
    {

         width:100%;
    }
    
    
}
main {
    background: #AED6F1 ;
}

    
    
    
/*ESTLOS DE FUENTES*/
@font-face{
    font-family: "TrebuchetMS";
    src: url("fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "WebSymbolsRegular";
    src: url("fonts/websymbols-regular-webfont.svg#webSymbolsRegular") format("svg"),
        url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot#iefix") format("enbedded-opentype"),
        url("fonts/websymbols-regular-webfont.woff") format("woff"),
        url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/*FIN DE ESTILOS DE FUENTES*/

/*ESTILOS GENERALES*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background:url("../img/pattern.png");
}
.icon{
    font-family: "WebSymbolsRegular";
}
.clearfix{
    float: none;
    clear: both;
}

/*FIN ESTILOS GENERALES*/

/*INICIO DE CABECERA*/
#header{
    width: 100%;
    height: 100px;
    background-color: #3498DB;
    font-family: "BebasNeue";
    color: white;
}
#logo{
    float: left;
    width: 410px;
    margin-top: 2px;
    margin-left: 5px;
    cursor: pointer;
    
}
#logo .imagen{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
#menu{
    float: right;
    height: 40px;
    background: transparent;
}
#menu ul li{
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 2px 4px 1px 4px;
    /*line-height: 70px;*/
}
#menu ul li a{
    display: block;
    color: #34495E;
    text-decoration: none;
    transition: all 200ms;
}
#menu ul li a:hover{
    color: rgba(181, 233, 233, 0.979);
    transform: scale(1.2,1.2);
}
#menu ul li:last-child{
    border: 1px solid white;
    border-radius: 3px;
    background: rgb(134, 133, 133);
}
#menu ul li:last-child:hover{
    background: rgb(89, 119, 173);
    transform: scale(1.2,1.2);
}

/*FIN DE CABECERA*/

/*INICIO DE CONTENIDO*/
#contenido{
    width: 98%;
    height: 1000px;
    margin: 10px auto;
    border: 1px solid cyan;
}
/*FIN DE CONTENIDO*/

/*INICIO DE PIE DE PAGINA*/
#footer{
    width: 100%;
    height: 350px;
    background-color: black;
    overflow: hidden;
}
#menu-footer{
    float: left;
    width: 320px;
    height: 255px;
    margin: 40px;
    text-align: center;
    color: white;
    font-family: "TrebuchetMS";
}
#footer a{
    text-decoration: none;
    color: #37bcf9;
    margin-top: 0px;
}
#footer ul{
    text-align: left;
    margin: 20px;
    font-size: 20px;
    list-style-type: none;

}
#footer ul li{
    margin-top: 10px;
    padding: 5px;
    
}
#footer ul li a{
    display: block;
    height: 40px;
    transition: all 300ms;
}
#footer ul li:hover a{
    padding-left: 40px;
    color: white;
    width: 100%;
}
#sociales{
    display: block;
    float: left;
    margin-left: 81px;
    width: 355px;
    height: 255px;
    margin-top: 10px;
    border-radius: 5px;
    
}
#footer .info-sociales{
    color: #37bcf9;
    font-family: "BebasNeue";
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}
#iconos-sociales{
    height: 100px;
}
#iconos-sociales .facebook,
#iconos-sociales .twitter,
#iconos-sociales .youtube{
    float: left;
    display: block;
    font-size: 45px;
    width: 60px;
    height: 60px;
    margin-left:45px;
    /*line-height: 100px;*/
}
#iconos-sociales .overly{
    color: #37bcf9;
    font-size: 12px;
    margin-top: 10px;
    margin-left: -8px;
    padding: 5px;
    display: block;
    height: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px #ccc;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-10%);
    opacity: 0;
    transition: all 300ms;
}
#iconos-sociales div:hover .overly{
    opacity: 1;
    transform: translateY(0%);
}

#twitt-icon{
    float: left;
    display: block;
    font-size: 20px;
}
#sociales .email{
    display: block;
    float: left;
    width: 333px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    transition: all 300ms;
    
}
#sociales .email:hover{
    box-shadow: 0px 0px 20px white;
    transform: scale(1.1,1.1);
}
#sociales .email a{
    display: block;
    float: left;
    font-size: 45px;
}
#sociales .email p{
    display: block;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 30px;
}

#info-footer{
    display: block;
    float: left;
    margin-left: 30px;
    margin-top: 0px;
    width: 460px;
}
#store{
    margin-left: 96px;
}
#footer #store img{
    width: 243px;
    height: 95px;
}
#footer #store a:last-child img{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 210px;
    height: 65px;
    margin-top: 0px;
    text-align: center;
    margin-left: 17px;
}
#info-footer h2{
    color: #37bcf9;
    font-family: "BebasNeue";
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
}
#info-footer p:last-child{
    margin-top: 5px;
}
#info-footer p:last-child a{
    color: blue;
}
#info-footer p:last-child a:hover{
    color: red;
    transform: scale(1.5, 1.5);

}
@media (max-width:480px)
 {

    formı 
    {

         width:100%;
    }
    
    
}


/*FIN DE PIE DE PAGINA*/    